body {
    margin:0;
    box-sizing: border-box;
    background-color: #277986;
}

.container {
    min-height: 100vh;
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.title {
    color: black;
    text-align: center;
    font-family: Montserrat, sans-serif ;

}

.grid {
    display:flex;
    flex-wrap: wrap;
    width: 620px;
}

.cell {
    height: 50px;
    width: 50px;
    background-color: #277986;
    border: 3px solid lightblue;
    margin: 3px;
    border-radius: 10px;
}

.cell:hover{
    background-color: lightblue;
    cursor: pointer;
}

.cell-bug
.cell-bug:hover {
    background-color: red;
    background-image: url("../img/bug.png");
    background-size: 70%;
    background-repeat: no-repeat;
    background-position: center;

}

.cell-empty {
   background-color: lightblue; 
}

.cell-num {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: lightblue;
   font-family: #277986;
   font-weight: bold; 
   font-size: 1.3em;
}

.cell-num-1{
    color :blue;
}

.cell-num-2{
    color :green;
}

.cell-num-3{
    color :red;
}

.cell-num-4{
    color :yellow;
}

.cell-num-5{
    color :violet;
}