    *
    {
        background-color: rgb(0, 0, 0);
        color: rgba(210, 250, 140, 0.95);
    }

    body
    {
        text-align: center;
        color: aliceblue;
        font-family: 'Orbitron', courier, sans-serif;
    }

    table
    {
        margin-left: auto;
        margin-right: auto;
    }

    #info
    {
        color: rgba(210, 250, 140, 0.2);
        height: 35px;
        padding-top: 15px;
        text-align: right;
        border: 0px solid #FFFFFF;
    }

    #info:hover
    {
        color: rgba(220, 255, 155, 0.6);
    }

    .tableRow
    {
        height: 35px;
        width: 170px;
        border: 0px solid #FFFFFF;
        text-align: center;
    }

    #conclusion
    {
        width: 340px;
    }

    #go
    {
        height: 33px;
        border-radius: 16px;
        margin-top: 15px;
    }

    button
    {
        color: rgba(220, 255, 155, 0.549);
        border: 1px solid rgba(220, 255, 155, 0.55);
        border-radius: 6px;
        background-color: rgb(0, 0, 0);
    }

    button.difficulte
    {
        margin-left: 10px;
        margin-right: 10px;
    }

    button:hover
    {
        color: rgba(220, 255, 155, 0.8);
        border: 1px solid rgba(220, 255, 155, 0.8);
        border-radius: 10px;
    }

    .plateau
    {
        width: 35px;
        height: 35px;
        background-color: rgb(0, 0, 0);
        text-align: center;
        font-size: small;
        border-style: groove;
        border-width: 2px;
        border-color: rgba(220, 255, 155, 0.8);
    }

    .plateau:hover
    {
        border-color: rgba(220, 255, 155, 0.8);
        background-color: rgba(220, 255, 155, 0.2);
    }

    .plateau:active
    {
        border-width: 2px;
        border-color: rgba(220, 255, 155, 0.8);
        background-color: rgb(220, 255, 155);
    }

    #paraminerestant
    {
        visibility: hidden;
    }

    #arcom
    {
        color: rgba(220, 255, 155, 0.4);
        border: 1px solid rgba(220, 255, 155, 0.4);
        visibility: hidden;
        margin-bottom: 2px;
        margin-right: -50px;
    }

    #arcom:hover
    {
        color: rgba(220, 255, 155, 0.8);
        border: 1px solid rgba(220, 255, 155, 0.8);
    }

    input[type=range]
    {
        -webkit-appearance: none;
        width: 80px;
    }

    input[type=range]::-webkit-slider-runnable-track
    {
        height: 3px;
        cursor: pointer;
        background: rgba(210, 250, 140, 0.3);
        border-radius: 9px;
    }

    input[type=range]::-moz-range-track
    {
        height: 3px;
        cursor: pointer;
        background: rgba(210, 250, 140, 0.3);
        border-radius: 9px;
    }

    input[type=range]::-webkit-slider-thumb
    {
        -webkit-appearance: none;
        height: 25px;
        width: 10px;
        background-color: black;
        margin-top: -11px;
        border: 3px solid rgba(223, 255, 187, 0.808);
        border-radius: 4px;
        cursor: pointer;
    }

    input[type=range]::-moz-range-thumb
    {
        -webkit-appearance: none;
        height: 25px;
        width: 10px;
        background-color: black;
        margin-top: -11px;
        border: 3px solid #FFFFFF;
        border-radius: 4px;
        cursor: pointer;
    }