    *
    {
        background-color: bisque;
    }

    button
    {
        background-color: lightgray;
    }

    body
    {
        text-align: center;
    }

    #table
    {
        background-color: rgb(128, 128, 128);
    }

    td
    {
        width: 35px;
        height: 35px;
        background-color: rgb(128, 128, 128);
        text-align: center;
        font-size: small;
        border-style: groove;
        border-width: 2px;
        border-color: rgb(172, 172, 172);
    }

    td:hover
    {
        border-color: rgb(130, 130, 130);
        background-color: rgb(135, 135, 135);
    }

    td:active
    {
        border-color: rgb(92, 92, 92);
        background-color: rgba(128, 128, 128);
    }

    #table
    {
        margin-left: auto;
        margin-right: auto;
    }

    #paraminerestant
    {
        visibility: hidden;
    }

    #arcom
    {
        visibility: hidden;
    }