.mainDivClass {
    display: flex;
    width: fit-content;
    text-align: center;
    border: 1px solid black;
    background-color: lightgray;
    position: absolute;
    left: 50%;
    transform: translate(-50%, 0)
}

.flexbox-item {
    width: 22.4px;
    border: 1px, solid, black;
    padding: 10px;
    font-size: 20px;
}

h1,
h2 {
    text-align: center;
}

.tile-clicked {
    background: darkgray;
}

.x1 {
    color: blue;
}

.x2 {
    color: green;
}

.x3 {
    color: red;
}

.x4 {
    color: navy;
}

.x5 {
    color: brown;
}

.x6 {
    color: teal;
}

.x7 {
    color: black;
}

.x8 {
    color: gray;
}